body {
    font: 14px Helvetica, Arial, sans-serif;
    background: url(../img/bg.png);
}

header .container {
    position: relative;
    height: 250px;
    min-width: 650px;
}

#area-logo {
    background: url(../img/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 66px;
    position: absolute;
    left: 15px;
    text-indent: -9000px;
}

#area-menu {
    background: url(../img/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

#menu-cidades {
    margin-left: 70px;
    margin-top: 10px;
    border-bottom: 1px solid #a29750;
    border-top: 1px solid #a29750;
}

#menu-cidades ul {
    font-size: 0.7rem;
    line-height: 1.5rem;
}

#menu-cidades button {
    font-size: 0.7rem;
    margin: 5px 0;
}


/* Responsividade
-------------------------------------------------*/

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
        min-width: 740px;
    }
}