* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
}

/* Header
-------------------------------------------------*/
.topo {
    position: relative;
    height: 15.4em;
}

.area-logo {
    background: url(../img/topo-imagem-principal2.png) no-repeat;
    position: absolute;
    width: 798px;
    height: 250px;
}

.logo {
    background: url(../img/logo.png) no-repeat;
    width: 200px;
    height: 80px;
    margin: 10px 15px;
}

.logo h1 {
    visibility: hidden;
}

.area-menu {
    background: url(../img/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    width: 450px;
    height: 250px;
    left: 470px;
}

/* Responsividade
-------------------------------------------------*/
@media (max-width: 575.98px) {
    
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Dispositivos mÄ†ĀĆ„Ādios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
        min-width: 720px;
    }
}